:root {
    --primary-color: #4CAF50;
    --secondary-color: #388E3C;
    --background-color: #f8f8f8;
    --text-color: #333;
    --header-bg: #2c692e;
    --footer-bg: #181616;
    --border-color: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--header-bg);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid var(--secondary-color);
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.logo {
    width: 100px;
    height: auto;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold; 
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.square-container {
    width: 100%;
    max-width: 300px; 
    height: 0;
    padding-bottom: 100%; 
    position: relative;
    overflow: hidden;
    margin: 0 auto; 
}

.square-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

section {
    padding: 20px;
    margin: 30px 0; 
    background-color: #ffffff; 
    border: 1px solid var(--border-color); 
    border-radius: 8px; 
    text-align: center;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    text-decoration: underline;
    color: var(--secondary-color); 
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: var(--secondary-color);
}

footer {
    background-color: var(--footer-bg);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 3px solid var(--secondary-color); 
}

footer p {
    margin: 10px 0; 
}
