/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem; 
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}


@media (max-width: 600px) {
    body {
        font-size: 0.875rem; 
    }
    
    img {
        max-width: 80%;
        height: auto;
    }
}

header {
    background-color: #2c692e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #1e4a1b; 
}

.agro {
    text-align: center; 
}

.imagem-agro {
    max-width: 100%;  
    height: auto; 
    display: block; 
    margin: 0 auto; 
    object-fit: cover; 
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold; 
}

nav ul li a:hover {
    text-decoration: underline;
    color: #388E3C; 
}

section {
    padding: 20px;
    margin: 30px 0; 
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    text-align: center;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold; 
}

a:hover {
    text-decoration: underline;
    color: #388E3C;
}

footer {
    background-color: #181616;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #1e4a1b; 
}

footer p {
    margin: 0;
}
